<section ng-controller="usersCtrl" class='userCtrl'>
    <div class='row' ng-repeat="data in usersData">
        <div class='col-sm-1 col-lg-1 col-md-1'>
            <span>ID : {{data.id}}</span>
        </div>
        <div class='col-sm-1 col-lg-1 col-md-1'>
            <span>Name : {{data.name}}</span>
        </div>
        <div class='col-sm-1 col-lg-1 col-md-1'>
            <span>Username : {{data.username}}</span>
        </div>
        <div class='col-sm-1 col-lg-1 col-md-1'>
            <span>Email : {{data.email}}</span>
        </div>
        <div class='col-sm-8 col-lg-8 col-md-8'>
            <div class='col-sm-3 col-lg-3 col-md-3'>
                <span>Street : {{data.address.street}}</span>
            </div>
            <div class='col-sm-3 col-lg-3 col-md-3'>
                <span>Suite : {{data.address.suite}}</span>
            </div>
            <div class='col-sm-3 col-lg-3 col-md-3'>
                <span>City : {{data.address.city}}</span>
            </div>
            <div class='col-sm-3 col-lg-3 col-md-3'>
                <span>Zipcode : {{data.address.zipcode}}</span>
            </div>
        </div>

    </div>
</section>